---
- name: Fail when alloy_config or alloy_env_file_vars.CONFIG_FILE is not defined
  ansible.builtin.fail:
    msg: Variable alloy_config or alloy_env_file_vars.CONFIG_FILE is required!
  when:
    - alloy_config | length < 1
    - alloy_env_file_vars.CONFIG_FILE is not defined
    - not alloy_uninstall

- name: Extract IP address and PORT from alloy_env_file_vars
  when: alloy_env_file_vars.CUSTOM_ARGS is defined and alloy_env_file_vars.CUSTOM_ARGS | length > 0
  block:
    - name: Search for server.http.listen-addr string
      ansible.builtin.set_fact:
        __alloy_server_http_listen_addr_regex: "{{ alloy_env_file_vars.CUSTOM_ARGS | regex_search('--server.http.listen-addr=([\\d\\.]+):(\\d+)', '\\1', '\\2') or [] }}"

    - name: Extract IP address and port
      ansible.builtin.set_fact:
        __alloy_server_http_listen_address: "{{ __alloy_server_http_listen_addr_regex[0] }}"
        __alloy_server_http_listen_port: "{{ __alloy_server_http_listen_addr_regex[1] }}"
      when: __alloy_server_http_listen_addr_regex | length > 0

    - name: Assert that extracted IP address is valid
      ansible.builtin.assert:
        that: (__alloy_server_http_listen_address | ansible.utils.ipaddr) != ""
      when: __alloy_server_http_listen_addr_regex | length > 0
