[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yamllint = "==1.35.1"
ansible-lint = ">=6.13.1,<26.0.0"
pylint = ">=4.0.5,<4.1.0"

[dev-packages]

[requires]
python_version = "3.10"
