---
- name: Preflight tasks
  ansible.builtin.include_tasks:
    file: preflight.yaml
    apply:
      become: true
      tags:
        - grafana_agent_install
        - grafana_agent_configure
        - grafana_agent_run
  tags:
    - grafana_agent_install
    - grafana_agent_configure
    - grafana_agent_run

- name: Install tasks
  ansible.builtin.include_tasks:
    file: install.yaml
    apply:
      become: true
      tags:
        - grafana_agent_install
  tags:
    - grafana_agent_install

- name: Configuration tasks
  ansible.builtin.include_tasks:
    file: configure.yaml
    apply:
      become: true
      tags:
        - grafana_agent_configure
  tags:
    - grafana_agent_configure

- name: Ensure Grafana Agent is started # noqa command-instead-of-module
  become: true
  command: systemctl status grafana-agent
  changed_when: false
  tags:
    - grafana_agent_install
    - grafana_agent_configure
    - grafana_agent_run
