---
- name: Restart Grafana Agent
  ansible.builtin.service:
    name: grafana-agent
    state: restarted
    daemon_reload: true
  listen: "restart grafana-agent"

- name: Check Grafana Agent is started properly
  ansible.builtin.include_tasks: ga-started.yml
  listen: "restart grafana-agent"
