[Unit]
Description=Vendor-neutral programmable observability pipelines.
Documentation=https://grafana.com/docs/alloy/
Wants=network-online.target
After=network-online.target{{ ' ' + start_after_service if start_after_service is defined else '' }}

[Service]
Restart=always
User={{ grafana_alloy_service_user }}
Group={{ grafana_alloy_service_group }}
Environment=HOSTNAME=%H
EnvironmentFile={{ grafana_alloy_config_dir }}/{{ grafana_alloy_environment_file }}
WorkingDirectory={{ grafana_alloy_working_dir }}
ExecStart={{ grafana_alloy_installation_dir }}/alloy-linux-{{ grafana_alloy_arch }} run \
{% for flag, flag_value in grafana_alloy_flags_extra.items() %}
{% if not flag_value %}
  --{{ flag }} \
{% elif flag_value is string %}
  --{{ flag }}={{ flag_value }} \
{% elif flag_value is sequence %}
{% for flag_value_item in flag_value %}
  --{{ flag }}={{ flag_value_item }} \
{% endfor %}
{% endif %}
{% endfor %}
    $CUSTOM_ARGS --storage.path={{ grafana_alloy_working_dir }} $CONFIG_FILE
ExecReload=/usr/bin/env kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
