{{ ansible_managed | comment }}
# Grafana Alloy Environment File
CONFIG_FILE="{{ grafana_alloy_config_dir }}/{{ grafana_alloy_config_file }}"

GOMAXPROCS={{ ansible_processor_vcpus|default(ansible_processor_count) }}
RESTART_ON_UPGRADE=true

{% for key, value in grafana_alloy_env_file_vars.items() %}
{{key}}={{value}}
{% endfor %}
