{{ ansible_managed | comment }}
# Alloy Environment File
CONFIG_FILE="{{ config_dir }}/{{ config_file }}"

# User-defined arguments to pass to the run command.
CUSTOM_ARGS=""

RESTART_ON_UPGRADE=true

{% for key, value in env_file_vars.items() %}
{{key}}={{value}}
{% endfor %}
