receivers:
{{ otel_collector_receivers | to_nice_yaml(indent=2) | indent(2, true) }}
processors:
{{ otel_collector_processors | to_nice_yaml(indent=2) | indent(2, true) }}
exporters:
{{ otel_collector_exporters | to_nice_yaml(indent=2) | indent(2, true) }}
extensions:
{{ otel_collector_extensions | to_nice_yaml(indent=2) | indent(2, true) }}
service:
{{ otel_collector_service | to_nice_yaml(indent=2) | indent(2, true) }}
{% if otel_collector_connectors is defined and otel_collector_connectors | length > 0 %}
connectors:
{{ otel_collector_connectors | to_nice_yaml(indent=2) | indent(2, true) }}
{% endif %}